{% unless page.url == "/" %}
<div class="my-sidebar border-top"
	style="padding-left:1em;padding-top:1.5em;margin-top:2em;">
{% include_cached sidebar.{{ page.lang | default: 'en' }}.html %}
</div>
{% endunless %}
<div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
	<a href="http://github.com/salif/globasa-xwexi-pages/edit/main/{{ page.name }}">Maxbongi</a> 
	<select id="theme-switch" aria-label="Choose a theme">
		<option id="theme-switch-auto" value="theme-auto">Kolor: Awto</option>
		<option id="theme-switch-light" value="theme-light">Kolor: Luminpul</option>
		<option id="theme-switch-dark" value="theme-dark">Kolor: Luminkal</option>
		<option id="theme-switch-midnight" value="theme-midnight">Kolor: Midinoce</option>
		<option id="theme-switch-sc-auto" value="theme-sc-auto">Kolor: SC Awto</option>
		<option id="theme-switch-sc-light" value="theme-sc-light">Kolor: SC Luminpul</option>
		<option id="theme-switch-sc-dark" value="theme-sc-dark">Kolor: SC Luminkal</option>
	</select>
</div>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
	integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<script>window.addEventListener("load", function () { anchors.add(); });</script>
