<div class="sidebar">
	<ul>
		<li><a href="./01.default.default.spa.html">Sobre Globasa</a></li>
		<li><a href="./02.darsu.default.spa.html">Lecciones para principiantes</a></li>
		<li><a href="https://salif.github.io/gramati-fe-globasa/spa/" target="_blank">Gramática</a></li>
		<li><a href="./04.pimpan-logaxey.default.spa.html">Frases y expresiones comunes</a></li>
		<li><a href="./05.max-resurso.default.spa.html">Más recursos</a></li>
		<li><a href="./">Página de inicio</a></li>
	</ul>
</div>
