@media (prefers-color-scheme: dark) {
	body {
		color: #cdd6f4;
		background-color: #1e1e2e;
	}

	a,
	a:visited,
	a:hover {
		color: #89b4fa;
	}

	.markdown-body h1,
	.markdown-body h2 {
		border-bottom: 1px solid #585b70;
	}

	.border-top {
		border-top: 1px #585b70 solid !important;
	}

	.border-gray-light {
		border-color: #585b70 !important;
	}

	.markdown-body hr {
		background-color: #585b70;
	}

	.markdown-body table tbody th,
	.markdown-body table td {
		border: 1px solid #11111b;
	}

	.markdown-body table thead th,
	.markdown-body table thead td {
		border: 1px solid #181825;
	}

	.markdown-body table tr {
		background-color: #1e1e2e;
		border-top: 1px solid #11111b;
	}

	.markdown-body table thead tr {
		background-color: #181825;
	}

	.markdown-body table tr:nth-child(2n) {
		background-color: #181825;
	}
}
