<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}" dir="{{ page.lang_dir | default: 'ltr' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% seo %}
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/icon-192x192.png' | relative_url }}" />
    <link rel="icon" type="image/png" sizes="512x512" href="{{ '/assets/icon-512x512.png' | relative_url }}" />
    <link rel="manifest" href="{{ '/manifest.json' | relative_url }}" />
    <style>:root {color-scheme: light dark;}</style>
    {%- assign build_revision = site.github.build_revision %}
    <script async src="https://salif.github.io/sgi/sgi.min.js?v={{ build_revision }}"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: build_revision | relative_url }}" />
    <link rel="stylesheet" href="https://salif.github.io/sgi/sgi.min.css?v={{ build_revision }}" />
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h1>{{ page.title }}</h1>
{{ content }}
{% include footer.html %}
    </div>
  </body>
</html>
